requests
beautifulsoup4
psycopg2-binary
schedule
fastapi
pandas
uvicorn
sqlalchemy
selenium
python-dotenv
openai
langchain
langchain-community 
langchain-core
chromadb
tiktoken
sentence_transformers
streamlit
ollama